<h1>Applicants</h1>

<p><%= link_to "Add applicant", new_applicant_path %></p>

<% if @result.applications.empty? %>
  <p>No applications yet.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Submitted</th>
        <th>Property</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <% @result.applications.each do |a| %>
        <tr>
          <td><%= a.submitted_at&.to_fs(:short) %></td>
          <td>
            <% if a.property_id.nil? %>
              <em>(adhoc)</em>
            <% elsif a.property_slug %>
              <%= link_to a.property_name, property_path(a.property_slug) %>
            <% else %>
              <%= a.property_name %>
            <% end %>
          </td>
          <td><%= link_to a.name, applicant_path(a.id) %></td>
          <td><%= a.mobile %></td>
          <td><%= truncate(a.summary.to_s, length: 80) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
