<% if admin? %>
  <%= breadcrumbs(
    [ "Properties", properties_path ],
    [ property_admin_label(@property) ]
  ) %>
<% end %>

<h1><%= @property.name %></h1>

<% if admin? && @property.address.present? %>
  <p><small>Address: <%= @property.address %></small></p>
<% end %>

<p><strong><%= @property.beds %></strong> bed / <strong><%= @property.baths %></strong> bath</p>

<% if @property.description.present? %>
  <div class="prose">
    <%= sanitize @property.description, tags: %w[p br strong em a ul ol li blockquote h1 h2 h3 h4 div pre code], attributes: %w[href target rel] %>
  </div>
<% end %>

<% if @property.published %>
  <p><%= button_to "Apply for this property", apply_property_path(@property.slug), method: :get %></p>
<% end %>

<% if authenticated? %>
  <p>
    <%= link_to "Edit this property", edit_property_path(@property.id) %>
    &middot;
    <%= link_to "History", audit_path(entity_id: @property.id) %>
  </p>
<% end %>
