<h1>Leases</h1>

<p>
  <% if @show_archived %>
    Showing archived. <%= link_to "Hide archived", leases_path %>
  <% else %>
    <%= link_to "Show archived", leases_path(archived: 1) %>
  <% end %>
</p>

<% if @result.leases.empty? %>
  <p>No leases yet.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Tenant</th>
        <th>Property</th>
        <th>Rent</th>
        <th>Mobile</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      <% @result.leases.each do |l| %>
        <tr>
          <td><%= link_to applicant_name(l.applicant_id), lease_path(l.id) %></td>
          <td><%= property_link(l.property_id) %></td>
          <td><%= format_money_cents(l.rent_cents) %> <%= l.frequency %></td>
          <td>
            <% if (m = applicant_mobile(l.applicant_id)) %>
              <%= link_to m, "tel:#{m}" %>
            <% end %>
          </td>
          <td><%= link_to l.name, lease_path(l.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
