<%= breadcrumbs([ "Taxes", taxes_path ], [ @tax.name, edit_tax_path(@tax.id) ], [ "Edit" ]) %>

<h1>Edit tax</h1>

<%= form_with url: tax_path(@tax.id), method: :patch do |f| %>
  <p>
    <label for="name">Name</label>
    <%= f.text_field :name, value: @tax.name, id: "name", required: true, autofocus: true %>
  </p>

  <p>
    <label for="rate">Rate (percent)</label>
    <%= f.number_field :rate, value: format("%g", @tax.rate_percent), id: "rate", step: "0.01", min: "0", required: true %>
  </p>

  <%= f.submit "Save" %>
  <%= link_to "Cancel", taxes_path %>
<% end %>
